# Code coverage
coverage==7.5.4
coveralls==0.4.2
# Linting
flake8==2.1.0
# Validate package
pyroma==1.6
# Test runner
pytest==8.2.2
nose2==0.15.1
# Documentation
Sphinx==1.2.2
sphinx-rtd-theme==0.1.6
futures==3.0.3
